.footer {
  height: 80vh;
  /* scroll-snap-align: center; */
  display: flex;
  align-items: center;
}

.follow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: #fff;
  padding: 15px;
  border-radius: 1.2vw;
}
.address {
  margin-top: 4vw;
}
.address h3 {
  font-size: 1.2vw;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
}
.followText {
  letter-spacing: 1px;
  font-weight: 600;
  margin-left: 1vw;
}
.follow a span {
  display: inline-block;
  width: 3vw;
  height: 3vw;
  border: 1px solid #ffffff00;
  border-radius: 50%;
  text-align: center;
  line-height: 2.8vw;
}

.follow img {
  width: 2vw;
  height: 2vw;
}

.follow a:hover span {
  border: 1px solid #a00a76;
}

.footer .projectButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ecf1f4;
  border-radius: 1.2vw;
  padding: 2vw 3vw;
  margin-top: 2vw;
}

.footer p {
  color: rgba(0, 0, 0, 0.5);
}

.footer button {
  padding: 1vw 3vw;
  border-radius: 1.2vw;
  border: none;
}

.footer button:hover {
  background-color: #a00a76;
}

/* Mobile */
@media (max-width: 700px) {
  .footer h2 {
    font-size: 5.5vw !important;
  }
  .address{
    margin-top: 8vw;
  }

  .address p {
    font-size: 3.5vw !important;
  }

  .address h3 {
    font-size: 4vw !important;
  }
  .projectButton p {
    font-size: 3.5vw !important;
  }
  .footer Button{
    padding: 3vw 5vw;
  }
  .follow{
    margin-bottom: 2rem;
  }
  .follow img{
    height: 5vw;
    width: 5vw;
  }
  .follow a span{
    width: 7vw;
    height: 7vw;
    line-height: 5.8vw;
  }
  .projectButton{
    padding : 6vw 3vw !important;
  }
}
