.main{
  overflow-x: hidden;
}
.navbar {
  display: flex;
  justify-content: space-between;
  margin: 2vw 4vw;
  padding-top: 2vw;
}

.logo {
  display: block;
  font-family: "Great Vibes", cursive;
  font-size: 4rem;
}
.navbar h1 {
  color: black;
}

.navbar button {
  background-color: white;
  color: black;
  border-radius: 2vw;
  padding: 0.5vw 2vw;
  border: 1px solid black;
}

.hero {
  height: 100vh;
  scroll-snap-align: center;
}

.heroImage {
  display: flex;
  align-items: center;
  border-radius: 2vw;
  background-color: black;
  padding: 2vw;
  gap: 2vw;
  height: auto;
  width: 75vw;
  margin: 0 auto;
}

.heroContent {
  color: #fff;
  padding: 0 6vw 0 4vw;
}

.heroImage img {
  margin-left: -6vw;
  width: 26vw;
  height: auto;
  border-radius: 20px;
  padding: 2vw 2vw 0 2vw;
  background-color: #a00a76;
}

.heroContent h1 {
  margin-bottom: 2rem;
}
.heroContent h2 {
  font-family: 'Moret', sans-serif;
  margin-bottom: 2rem;
}

.heroContent p {
  margin-bottom: 2rem;
}

.heroContent button {
  color: #ffff;
  padding: 1vw 5vw;
  border-radius: 2vw;
  background-color: transparent;
  border: 1px solid #ffff;
}

.marqueeBox h2 {
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 7rem !important;
  font-weight: 600;
  flex-shrink: 0;
  padding: 0 10px;
  width: max-content;
  display: flex;
  align-items: center;
  transform: translateX(0);
  animation: a-text-scroll 25s linear infinite;
  color: #fff;
  -webkit-text-stroke: 1px black;
}


@keyframes a-text-scroll {
  0% {
    transform: translate3d(0%, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
  0% {
    transform: translate3d(0%, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}