/* Projects */
.marqueeProject{
  height: 100vh;
  scroll-snap-align: center;
  background: #000;
}
.marqueeProjectBox{
  height: 180px;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.marqueeProjectBox h2 {
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 7rem !important;
  font-weight: 600;
  flex-shrink: 0;
  padding: 0 10px;
  width: max-content;
  display: flex;
  align-items: center;
  transform: translateX(0);
  animation: a-text-scroll 25s linear infinite;
  color: #fff;
  -webkit-text-stroke: 1px #a00a76;
}
.marqueeProjectBox h2 span {
  color: #a00a76;
}
.projectBox:hover h2,.projectBox:hover span{
  border-color: #a00a76;
  color: #a00a76;
}

.projectHeader{
  background-color: #a00a76;
  color: #fff;
  padding: 1vw 1.2vw;
}

.projectBefore{
  background: rgba(0, 0, 0, 1);
}

.projectLeftContent h2 {
  font-family: 'Moret', sans-serif;
  color: rgba(255, 255, 255, 1);
  font-size: 1.2vw;
  font-weight: 500;
  position: relative;
}



.projectLeftContent h6 {
  font-family: 'Moret', sans-serif;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.2vw;
  font-weight: 500;
  position: relative;
}

.projectBox{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 1.5vw;
}


.projectRightContent span{
  color: #fff;
  border: 1px solid #fff;
  padding: 0.5vw 1.2vw;
  border-radius: 2vw;
  font-size: 1.2vw;
}

.marqueeProjectBox {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 160px;
  overflow-x: hidden;
}

.marqueeProjectBox h2 {
  font-size: 7rem !important;
  font-weight: 600;
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: a-text-scroll 12s linear infinite;
}

.marqueeProjectBox h2 span:nth-child(even) {
  color: #fff;
  -webkit-text-stroke: 1px #a00a76;
}

@keyframes a-text-scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-40.1%);
  }
}


/* Mobile */
@media (max-width: 700px) {
  .marqueeProject {
    padding-top: 3rem;
  }
  .marqueeProjectBox{
    height: 100px;
  }
  .marqueeProjectBox h2{
    font-size: 5rem !important;
  }
  .projectBox{
   display: block;
  }
  .projectHeader h1 {
    font-size: 8vw !important;
  }
  .projectLeftContent h2{
    font-size: 6.5vw !important;
  }
 .projectLeftContent h6{
    font-size: 3.2vw !important;
  }
  .projectRightContent{
    text-align: center;
  }
  .projectRightContent span{
    font-size:2vw !important;
  }
}