@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

/* Projects */
.marqueeProject{
  height: 100vh;
  scroll-snap-align: center;
  background: #000;
}
.marqueeProjectBox{
  height: 180px;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.marqueeProjectBox h2 {
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 7rem !important;
  font-weight: 600;
  flex-shrink: 0;
  padding: 0 10px;
  width: max-content;
  display: flex;
  align-items: center;
  transform: translateX(0);
  animation: a-text-scroll 25s linear infinite;
  color: #fff;
  -webkit-text-stroke: 1px #a00a76;
}
.marqueeProjectBox h2 span {
  color: #a00a76;
}
.projectBox:hover h2,.projectBox:hover span{
  border-color: #a00a76;
  color: #a00a76;
}

.projectHeader{
  background-color: #a00a76;
  color: #fff;
  padding: 1vw 1.2vw;
}

.projectBefore{
  background: rgba(0, 0, 0, 1);
}

.projectLeftContent h2 {
  color: rgba(255, 255, 255, 1);
  font-size: 1.2vw;
  font-weight: 500;
  position: relative;
}



.projectLeftContent h6 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.2vw;
  font-weight: 500;
  position: relative;
}

.projectBox{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 1.5vw;
}


.projectRightContent span{
  color: #fff;
  border: 1px solid #fff;
  padding: 0.5vw 1.2vw;
  border-radius: 2vw;
}

.marqueeBox h2 {
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 7rem !important;
  font-weight: 600;
  flex-shrink: 0;
  padding: 0 10px;
  width: max-content;
  display: flex;
  align-items: center;
  transform: translateX(0);
  animation: a-text-scroll 25s linear infinite;
  color: #fff;
  -webkit-text-stroke: 1px black;
}


@keyframes a-text-scroll {
  0% {
    transform: translate3d(0%, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
  0% {
    transform: translate3d(0%, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}