@font-face {
  font-family: 'Onest',sans-serif;
  src: url('./assets/fonts/Onest-Medium.woff2') format('woff2'),
      url('./assets/fonts/Onest-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #000000;
  background: rgb(255, 255, 255);
  font-family: 'Great Vibes', cursive !important;
}
h1{
  font-size: 4vw !important;
  font-weight: 600  !important;
}
h2{
  font-size: 2.5vw  !important;
}

p{
  font-size: 1.2vw  !important;
}


a {
  color: inherit;
  text-decoration: none;
}




@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
