@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");


.main{
  overflow-x: hidden;
}



/* scroll snap */
.container {
  position: relative;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  height: 100vh;
  width: 100%;
  -ms-overflow-style: none;
  /* scrollbar-width: none; */
  overflow-x: hidden;
  /* &::-webkit-scrollbar {
    display: none;
  } */
}



/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}
