@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 2vw 4vw;
}

.logo {
  display: block;
  font-family: "Great Vibes", cursive;
  font-size: 4rem;
}
.navbar h1 {
  color: black;
}

.navbar button {
  background-color: white;
  color: black;
  border-radius: 2vw;
  padding: 0.5vw 2vw;
  border: 1px solid black;
}

.hero {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.heroImage {
  display: flex;
  align-items: center;
  border-radius: 2vw;
  background-color: black;
  padding: 2vw;
  gap: 2vw;
  height: auto;
  width: 75vw;
  margin: 0 auto;
}

.heroContent {
  color: #fff;
  padding: 0 6vw 0 4vw;
}

.heroImage img {
  margin-left: -6vw;
  width: 26vw;
  height: auto;
  border-radius: 20px;
  padding: 2vw 2vw 0 2vw;
  background-color: #a00a76;
}

.heroContent h1 {
  margin-bottom: 2rem;
}
.heroContent h2 {
  margin-bottom: 2rem;
}

.heroContent p {
  margin-bottom: 2rem;
}

.heroContent button {
  color: #ffff;
  padding: 1vw 5vw;
  border-radius: 2vw;
  background-color: transparent;
  border: 1px solid #ffff;
}
.marquee{
  height: 100vh;
}

.marqueeBox {
  height: 180px;
  display: flex;
  align-items: center;
  /* overflow: hidden; */
}


.marqueeBox h2 {
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 7rem !important;
  font-weight: 600;
  flex-shrink: 0;
  padding: 0 10px;
  width: max-content;
  display: flex;
  align-items: center;
  transform: translateX(0);
  animation: a-text-scroll 25s linear infinite;
  color: #fff;
  -webkit-text-stroke: 1px black;
}
.marqueeBox h2 span {
  color: #000;
}

/* study section */

.studyHeader h1 {
  background: black;
  color: #fff;
  padding: 20px 30px;
}

.studyBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.studyLeftContent span {
  color: #a00a76;
  font-size: 1.1vw;
  font-weight: 500;
}
.studyLeftContent h6 {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.2vw;
  font-weight: 500;
  position: relative;
  margin-left: 70px;
}
.studyLeftContent h6:before {
  position: absolute;
  content: "";
  width: 56px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  top: 50%;
  transform: translateY(-50%);
  left: -70px;
}
.studyRightContent h3 {
  color: rgba(0, 0, 0, 0.5);
}

.studyBefore::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Projects */
.marqueeProject{
  height: 100vh;
  background: #000;
}
.marqueeProjectBox{
  height: 180px;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.marqueeProjectBox h2 {
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 7rem !important;
  font-weight: 600;
  flex-shrink: 0;
  padding: 0 10px;
  width: max-content;
  display: flex;
  align-items: center;
  transform: translateX(0);
  animation: a-text-scroll 25s linear infinite;
  color: #fff;
  -webkit-text-stroke: 1px #a00a76;
}
.marqueeProjectBox h2 span {
  color: #a00a76;
}
.projectBox:hover h2,.projectBox:hover span{
  border-color: #a00a76;
  color: #a00a76;
}

.projectHeader{
  background-color: #a00a76;
  color: #fff;
  padding: 1vw 1.2vw;
}

.projectBefore{
  background: rgba(0, 0, 0, 1);
}

.projectLeftContent h2 {
  color: rgba(255, 255, 255, 1);
  font-size: 1.2vw;
  font-weight: 500;
  position: relative;
}



.projectLeftContent h6 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.2vw;
  font-weight: 500;
  position: relative;
}

.projectBox{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 1.5vw;
}


.projectRightContent span{
  color: #fff;
  border: 1px solid #fff;
  padding: 0.5vw 1.2vw;
  border-radius: 2vw;
}



@keyframes a-text-scroll {
  0% {
    transform: translate3d(0%, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
  0% {
    transform: translate3d(0%, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}
